<div class="panel panel-default">
    <div class="panel-heading">
        <a href="#/novels" class="glyphicon glyphicon-arrow-left" title="Back to main screen" > </a>
        {{$ctrl.novel.title}}

    </div>
    <div class="panel-body">
        <uib-accordion>
            <uib-accordion-group ng-repeat="chapter in $ctrl.novel.chapters" heading="{{chapter.title}}"
            ng-click="$ctrl.loadChapterDetails(chapter.chapterId)">
              <ul ng-show ="chapter.scenes !== null">
                <li ng-repeat="scene in chapter.scenes" ng-click="$ctrl.displayScene(scene)">{{scene.title}}</li>
              </ul>
              <div ng-show="chapter.scenes !== null && chapter.scenes.length === 0">No scene... yet!</div>
              <button class="btn text-center" ng-click="$ctrl.addScene(chapter)"> Add scene</button>
            </uib-accordion-group>
        </uib-accordion>

        <button class="btn" ng-click="$ctrl.showAddChapter()">Add chapter</button>
    </div>
</div>
