<div class="novelEdit">

    <!-- Chapter list area -->
    <div class="col-md-3">
        <list-chapter></list-chapter>
    </div>

    <!-- Main panel area -->
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body main-panel">
                <div ng-show="currentScreen === 'addChapter'" >
                    <add-chapter novel-id="novelId">
                     </add-chapter>
                 </div>
                 <div ng-show="currentScreen === 'editScene'" >
                    <edit-scene></edit-scene>
                 </div>
                 <div ng-show="currentScreen === 'addScene'">
                    <add-scene></add-scene>
                 </div>
            </div>
        </div>
    </div>
</div>
